coverage
node_modules/
.npm
.vscode

# build output
template-attach-shadow.d.ts
template-attach-shadow.d.ts.map
template-attach-shadow.js
template-attach-shadow.js.map
test/*.d.ts
test/*.d.ts.map
test/*.js
test/*.js.map
